* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#ff6700;
  background-image: url("transeuro.png");
}

.Top-Section {
  background-color: #FB8950;
  font-family: 'Titillium Web', sans-serif;

}

h1 {
  text-align: center;
font-size: 50px;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.Images {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.GreeceOne {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.GreeceTwo {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.GreeceThree {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.GreeceFour {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.ItalyOne {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.ItalyTwo {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.ItalyThree {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.ItalyFour {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.SwitzOne {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.SwitzTwo {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.SwitzThree {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

.SwitzFour {
  height:250px;
  width:250px;
  margin-bottom: 12px;
  box-shadow: 6px 6px;
  object-fit:cover;
}

img.gif {
  height: auto;
  width: 250px;
  object-fit: cover;
}

.gif-container {
  display: flex;
  justify-content: center;
}

/*
@media screen and(max-width:800px)
  {
    img.GreeceOne{
      height: auto;
      width: 300px;
      object-fit: cover;
    }
  }
*/
